
button{
    display: flex;
    justify-content:center;
    border-radius: 10px;
    width: 230px;
    height: 20px;
    background-color: rgba(73, 151, 253, 0.404);
    color: white;
}
.principal {
    padding: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    font-family: cursive;

}
.paginas{
    display: flex;
    justify-content: center;
}
.principal2 {
    display: flex;
    justify-content: end;
    flex-direction: column; 
    font-family: cursive;

}
.paginas2{
    display: flex;
    justify-content: end;
}